@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
    background: linear-gradient(#ECE9E6, #FFFFFF);
}

#container {
    max-width: 1400px;
    margin: 0 auto;
}

/* header */

header {
    padding: 20px 0;
}
header h1 {
    text-align: center;
    font-size: 40px;
    font-family: "Fjalla One", sans-serif;
    color: #ffc338;
    margin-bottom: 40px;
}
header ul {
    display: flex;
    justify-content: space-between;
}
header ul li a {
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

/* main_visual */
.main_visual {
    height: 70vh;
    overflow: hidden;
    margin-bottom: 60px;
}
.main_visual .swiper-slide {
    height: 100%;
}
.main_visual .swiper-slide img {
    max-width: 100%;
}

/* main */
main {
    display: flex;
    justify-content: space-between;
}
main section {
    width: 75%;
}
main section article {
    margin-bottom: 40px;
}
main section h2 {
    font-family: "Fjalla One", sans-serif;
    font-size: 26px;
    margin-bottom: 20px;
}
main .text {
    line-height: 1.8;
}
main .text > strong {
    display: block;
    margin-bottom: 10px;
    color: brown;
}
main article li strong {
    font-weight: 600;
    margin-right: 10px;
}
main article li p {
    display: inline-block;
}
main aside {
    width: 25%;
}
main aside figure {
    position: relative;
    overflow: hidden;
    height: 180px;
    margin-bottom: 20px;
}
main aside figure img {
    width: 100%;  height: 100%;
}
main aside figure:before {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: #525151c2;
    transform: scale(0);
    transition: all 0.3s;
    content: '';
}
main aside figure:hover:before {
    transform: scale(1);
}
main aside figure span {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    transition: all 0.3s 0.2s;
    opacity: 0; /* 투명도 */
}
main aside figure:hover span {
    opacity: 1;
}
footer {
    padding: 20px 0;
    text-align: center;
    font-size: 15px;
    color: #fff;
    background: #193511bb;
}