@charset "utf-8";

header {
    height: 100vh;
    background: url(../img/img_main2.png) no-repeat center bottom/cover;
}
header h1 {
    margin-top: 8vh;
    font-size: 36px;
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul {
    display: block;
    width: 60vW;
}
header nav ul li {
    margin-bottom: 20px;
}
header nav ul li a {
    display: block;
    padding: 15px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    transition: all 0.3s;
}
header nav ul li a:hover {
    background: #dda302;
}
.swiper.main_visual {display: none;}
main {
    display: block;
    padding: 0 3%;
    box-sizing: border-box;
}
main section, main aside {width: 100%;}